h3 {
    color: chartreuse;
    width: 550px;
    margin-left:500px;
    font-family: Verdana;
    
}
h2 {
    color:pink ;
    width:400px;
    margin-top : 100px;
    margin-left:300px;
    font-family: sans-serif;
}