/* 
1. vị trí
2. kích thước
3. màu sắc
4. kiểu dáng

từ ngoài vào trong 
trên xuống dưới
tổng quan - chi tiết
*/

/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Begin : Comman */
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display:block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: calc(100% / 3);
}

.text-while{
    color:#fff !important;
}

.text-center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.btn{
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover{
    background-color: #ccc;
    color:#000;
    cursor: pointer;
}

.full-right{
    float : right !important;
}
/* End : Comman */

/* Main */
#main{
    
}
/* Main */

/* Begin : Header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li:hover > a,
.sub-nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

#nav > li > a{
    display: block;
    color:#fff;
    padding: 0 24px;
    text-transform: uppercase;
    line-height: 46px;
}

#nav li:hover .sub-nav{
    display: block;
    min-width: 160px;
}

#nav li a{
    text-decoration: none;
}  

#nav .sub-nav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3) ;
}

.sub-nav li{
    display: block;
}

.sub-nav li a{
    color: #000;
    display: block;
    line-height: 38px;
    padding: 0 16px;
    width: 100%;
}

#header .mobile-menu{
    position:absolute;
    top:0;
    right:0;
    display:none;
}

#header .mobile-menu,
#header .search-btn{
    float: right;
    padding: 0 23px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu:hover{
    background-color: #ccc;
}

#header .mobile-menu:hover .mobile-menu-btn{
    color: #000;
}

#header .mobile-menu-btn,
.search-btn .search-ic{
    color: #fff;
    line-height: 46px;
}

/* End : Header */

/* Begin : Slider */
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url("../image/slides/chicago.jpg") top center / cover no-repeat;
    position: relative;

}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%); */
    /* right: 0;
    left: 0; */
    width: 100%;
    text-shadow: 0 0 1px #000;
}

#slider .text-head{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}

#slider .text-description{
    font-size: 15px;
    font-weight: bolder;
}
/* End : Slider */

/* Begin : Content */
#content{

}

/* About */
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content-section h2.section-head{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.content-section p.section-sub-head{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .content-section .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list{
    padding-top: 50px;
}

.member-item p{
    font-size: 15px;
    margin-bottom: 15px;
}

.member-item img{
    width: 154px;
    border-radius: 4px;
}
/* About */

/* Tour */
#content .tour-section{
    background:#000;
    width: 100%;
}

.ticket-list{
    background:#fff;
    margin-top: 40px;
    list-style-type: none;
    width: 100%;
}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    width: 100%;
}

.ticket-list span.sout-out{
    background-color:#f44336;
    padding: 3px 4px;
    margin-left: 16px ;
    color:#fff;
}

.ticket-list span.quantity{
    width: 24px;
    float: right;
    height: 24px;
    background: #000;
    color: #ffff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -2px;
}

.places-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding:16px;
    font-size: 15px;
}

.place-head{
    font-size: 15px;
    font-weight: 600;
    }

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}


/* Tour */

/* Contact */
.contact-content{
    margin-top: 48px;
}

.contact-content .contact-info{
    font-size:18px;
    line-height: 1.5;
}

.contact-info  i[class *= "fas"]{
    width: 30px;
    display: inline-block;
}

.contact-info a{
    opacity:0.8;
}

.contact-info a:hover{
    opacity:1;
}

.contact-form{
    font-size:15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Contact */

/* MAP */
.map-section img{
    width: 100%;
    display: block;
}
/* MAP */
/* End : Content */

/* Begin : Footer */
#footer{
    background-color: #f1f1f1;
    color: #000;
    padding: 64px 16px;
    text-align:center;
}

#footer .socials-list{
    font-size:24px;
}

.socials-list a{
    color:#666666;
}

.socials-list a:hover ,
#footer .coppy-right a:hover{
    color:rgba(0, 0, 0, 0.4);
}

#footer .coppy-right{
    margin-top: 15px;
    color:#666666;
}

#footer .coppy-right a{
    color:#666666;
}

/* End : Footer */

/* Begin : Modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
    animation: modalFadeIn ease 0.45s;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
}

.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.modal-header span.head{
    margin-left: 16px;
    letter-spacing: 4px;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color:#fff;
    padding: 12px 14px;
}

.modal-close:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.modal-body{
    padding: 16px;
}

label.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal input{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
}

#buy-tickets{
    width: 100%;
    background: #009688;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover{
    opacity: 0.8;
}

footer.modal-footer{
    padding: 16px;
}

.modal-help{
    text-align: right;
    margin-bottom: 15px;
}

.modal-help a{
    color: #2196FA;
}

.modal.open{
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* End : Modal */